<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel = "stylesheet"
         href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    <!-- Needed for drop down boxes in Materialize -->     
    <script type = "text/javascript"
         src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>           
    <!-- Needed for drop down boxes in Materialize -->         
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>

    <!-- Needed for drop down boxes in Materialize -->
    <script>
        $(document).ready(function() {
            $('select').material_select();
        });
    </script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>MoveMe</title>
</head>
<body>
    <nav>
        <%- include ('./partials/nav.ejs') %>
    </nav>
    <%- body %>
    <!-- <script src=/js/script.js></script> -->
</body>
</html>