
nav {
    height: 100px;
    line-height: 100px;
}

.default-background {
    background-color: rgb(240, 240, 240);
}

.button-inline {
    display: inline-block;  
}

.container {
    color: black;
}

.font-size-large {
    font-size: large;
}

.font-size-xlarge {
    font-size: 100px;
}

#logo {
    width: 100px; 
    white-space: nowrap; 
    overflow: hidden;
    margin-left: 40px;
 }


.default-size {
    height: 800px;
}

/* START - faded image effect. */
.login-image {
    position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-image::before {    
    content: "";
    background-image: url('/images/unpacking.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.55;
}

.text-on-top {
    position: relative;
    color: black;  
}

/* END - faded image effect. */

