
nav {
    height: 120px;
    line-height: 120px;
}

.default-background {
    background-color: rgb(240, 240, 240);
}

.button-inline {
    display: inline-block;  
}

.container {
    color: black;
}

.font-size-large {
    font-size: large;
}

.font-size-xlarge {
    font-size: 100px;
}


.default-size {
    height: 800px;
}

/* START - faded image effect. */
.login-image {
    position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-image::before {    
    content: "";
    background-image: url('/images/unpacking.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.55;
}

.edit-image {
    position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: top;
    justify-content: center;
}

.edit-image::before {    
    content: "";
    background-image: url('/images/michal-balog-boxes3.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.20;
}

.new-image {
    position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: top;
    justify-content: center;
}

.new-image::before {    
    content: "";
    background-image: url('/images/boxes1.png');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.15;
}

.show-image {
    position: relative; 
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: top;
    justify-content: center;
}

.show-image::before {    
    content: "";
    background-image: url('/images/boxes2.png');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.25;
}


.text-on-top {
    position: relative;
    color: black;  
}

.label {
    color: rgb(117, 96, 56);
}

/* END - faded image effect. */

#logo {
    width: 100px; 
    white-space: nowrap; 
    overflow: hidden;
    margin-left: 40px;
 }

#salutation {
    color: rgb(72, 72, 138);
    text-decoration-line: underline;
}