
<div class="login-image">
  <div class="container default-size text-on-top">
    <h1>Log In</h1>
    <form action="/sessions" method="POST">
      <div class="row">
        <div class="col s4">
          <label class="text-on-top font-size-large label" for="userName">User Name:</label>
          <input class="text-on-top" type="text" name="userName" required/>
        </div>
      </div>
      <div class="row">
        <div class="col s4">
          <label class="text-on-top font-size-large label" for="color">Password:</label>
          <input class="text-on-top" type="password" name="password" required/>
          <br>
          <input type="submit" value="Submit">
        </div>
      </div>
    <form>
  </div>
</div>
  
